* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*----------------HEADER------------------*/

/*----------------SECTION1------------------*/

/*----------------SECTION2------------------*/

/*----------------SECTION3------------------*/

/*----------------SECTION4------------------*/

/*----------------FOOTER--------------------*/

.footer-container{
	position: fixed;
	bottom: 0;
	background-color: #2c292f;
	width: 100%;
	text-align: left;
	padding: 30px;
	}
	.footer-container .footer-content-1,
	.footer-container .footer-content-2,
	.footer-container .footer-content-3{
	display: inline-block;
	vertical-align: top;
	}
	/* Footer left */
	.footer-container .footer-content-1{
	width: 30%;
	}
	/*  logo */
	.footer-container .footer-content-1 img{
	width: 25%;
	border-radius: 20px;
	}
	.footer-container h3{
	color:  #a5e36e;
	letter-spacing: 1px;
	font:italic 30px ;
	padding: 0px 0px 10px;
	}
	.footer-container h3 span{
	color: #a5e36e;
	font-weight: bold;
	padding: 10px;
	}
	/* Footer links */
	.footer-container .footer-p{
	color:  #a5e36e;
	margin: 20px 0 20px;
		
	}
	.footer-container .footer-p a{
	display: inline-block;
	color: #a5e36e;
	margin: 0px 8px 0px 0px;
	padding-left: 3px;
	border-left: 2px solid #a5e36e;
	}
	
	/* Footer content-2 */
	.footer-container .footer-content-2{
	width: 35%;
	font-size: 14px;
	}

	.footer-container .footer-content-2 p{
	display: inline-block;
	}
	.footer-container .footer-content-2 p a{
	color: #a5e36e;
	
	}
	/* ajuste tela */
	.footer-container .footer-content-3{
	width: 30%;
	}
	.footer-container .footer-empresa{
	line-height: 22px;
	color:  #a5e36e;
	font-size: 14px;
	font-weight: 200;
	}
	.footer-container .footer-empresa span{
	display: block;
	color:  #a5e36e;
	font-size: 20px;
	font-weight: bolder;
	margin-bottom: 20px;
	}
	.footer-container .footer-icons .fa{
	background: #3b4f66;
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	color: #a5e36e;
	text-align: center;
	padding: 5px;
	margin: 5px 5px 12px 12px;
	font-size: 24px;
	}
	
	.footer-icons a:nth-child(1) .fa{
	color: #a5e36e;
	}
	.footer-icons a:nth-child(2) .fa{
	color: #a5e36e;
	}
	.footer-icons a:nth-child(3) .fa{
	color: #a5e36e;
	}
	.footer-icons a:nth-child(4) .fa{
	color: #054daa;
	}
	.footer-icons a:nth-child(5) .fa{
	color: #a5e36e;
	}
	.footer-container .footer-content-3 p{
	 color: #a5e36e;
	 font-size: 13px;
	 padding: 10px;
	}
	.footer-container .copyright{
	width: 100%;
	}
	.footer-container .copyright p{
	 text-align: center;
	 color:#a5e36e;
	 padding: 5px;
	 font-size: 12px;
	}
	
	