* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/*----------------HEADER------------------*/

/*----------------SECTION1------------------*/

/*----------------SECTION2------------------*/

/*----------------SECTION3------------------*/

/*----------------SECTION4------------------*/

/*----------------FOOTER--------------------*/
